<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
     <servlet>
        <servlet-name>ControladorInicio</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorInicio</servlet-class>
    </servlet>
       <servlet>
        <servlet-name>ControladorCobrar</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorCobrar</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ControladorRecibos</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorRecibos</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>ControladorPrecios</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorPrecios</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ControladorLDCamaras</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorLDCamaras</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ControladorLDAlarmas</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorLDAlarmas</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ControladorRDAlarmas</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorRDAlarmas</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ControladorRDCamaras</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorRDCamaras</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ControladorSCamaras</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorSCamaras</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ControladorSAlarmas</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorSAlarmas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAdmines</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorAdmines</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ControladorClientes</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorClientes</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ControladorCobradores</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorCobradores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTecnicos</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorTecnicos</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ControladorDCamaras</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorDCamaras</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>ControladorDAlarmas</servlet-name>
        <servlet-class>presentacion.servlets.controladores.ControladorDAlarmas</servlet-class>
    </servlet>
    
       <servlet-mapping>
        <servlet-name>ControladorCobrar</servlet-name>
        <url-pattern>/cobrar</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ControladorRecibos</servlet-name>
        <url-pattern>/recibos</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ControladorPrecios</servlet-name>
        <url-pattern>/precios</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ControladorLDAlarmas</servlet-name>
        <url-pattern>/ldalarmas</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ControladorLDCamaras</servlet-name>
        <url-pattern>/ldcamaras</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ControladorRDAlarmas</servlet-name>
        <url-pattern>/rdalarmas</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ControladorRDCamaras</servlet-name>
        <url-pattern>/rdcamaras</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ControladorDAlarmas</servlet-name>
        <url-pattern>/dalarmas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDCamaras</servlet-name>
        <url-pattern>/dcamaras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInicio</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAdmines</servlet-name>
        <url-pattern>/admines</url-pattern>
    </servlet-mapping>
       <servlet-mapping>
        <servlet-name>ControladorSAlarmas</servlet-name>
        <url-pattern>/salarmas</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ControladorClientes</servlet-name>
        <url-pattern>/clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSCamaras</servlet-name>
        <url-pattern>/scamaras</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ControladorCobradores</servlet-name>
        <url-pattern>/cobradores</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ControladorTecnicos</servlet-name>
        <url-pattern>/tecnicos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>inicio</welcome-file>
    </welcome-file-list>
</web-app>
